/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

body {
  background-color: #ead7cc;
  /* background-image: url("../image/kirakira.gif"); */
  color: #716a67;
  font-family: "Noto Sans JP", sans-serif;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #cf9f96;
}
.headerBrock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 70vh;
}
.stars1 {
  width: 12vh;
  height: 12vh;
}
.star1-1 {
  width: 5vh;
  height: 5vh;
  transform: rotate(45deg);
  margin: 1vh;
}
.star1-2 {
  width: 3vh;
  height: 3vh;
  transform: rotate(45deg);
  margin: 1vh;
}
.stars2 {
  width: 12vh;
  height: 4vh;
}
.star2-1 {
  width: 3vh;
  height: 3vh;
  transform: rotate(45deg);
  margin: 1vh;
}
.star2-2 {
  width: 5vh;
  height: 5vh;
  transform: rotate(45deg);
  margin: 1vh;
}

.headerH1 {
  font-size: 4vh;
}
.purecureIcon {
  width: 17vh;
  position: absolute;
  right: 5vh;
  cursor: pointer;
  top: 0vh;
}
.purecureIcon:hover {
  animation: 2s linear infinite rotation;
}
@keyframes rotation {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* main */
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  position: fixed;
  top: 15vh;
}
.new_purecure {
  z-index: 1;
  position: absolute;
  top: 0vh;
  cursor: pointer;
  width: 25vh;
  padding: 8px 10px;
  border: solid;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 1vh;
  text-decoration: underline;
  color: #716a67;
  background-color: #ead7cc;
  border-color: #cf9f96;
  border-width: 4px;
}
.new_purecure:hover {
  background-color: #ead7cc;
  border-color: #716a67;
  color: #cf9f96;
}
.mainBrock {
  width: 80%;
  max-width: 75vh;
  position: fixed;
  top: 23vh;
  max-height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-style: solid;
  border-radius: 3vh;
}
.data {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}
.data:hover {
  background-color: #cf9f96;
}
.data:hover .imageIcon {
  color: #716a67;
}
.imageIcon {
  width: 5vh;
  height: 5vh;
  position: absolute;
  left: 5vh;
}
.visible {
  color: #cf9f96;
}
.createBtn {
  position: absolute;
  bottom: 19%;
  left: 62vh;
}
/* footer */
.footerS {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 10vh;
  background-color: #cf9f96;
  width: 100%;
  left: 0;
  cursor: pointer;
}
.footerL {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 26vh;
  background-color: #cf9f96;
  width: 100%;
  left: 0;
  cursor: pointer;
}
.filterHeader {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.filterIcon {
  width: 5vh;
  height: 5vh;
}
.filterBrock {
  margin: 3vh;
  margin-top: 0;
}
.filterLabel {
  margin-right: 2vh;
  font-size: 3vh;
}

.filterTxt {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #969da3;
  border-radius: 3px;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 1vh;
  text-decoration: underline;
}

.filterTxt::placeholder {
  color: #999;
}
@media screen and (max-width: 475px) {
  /* スクリーンサイズが475px以下の場合に適用 */
  .purecureIcon {
    display: none;
  }
}
