.modalArea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.addItemFrom {
  display: flex;
  flex-direction: column;
  width: 105vh;
  height: 85vh;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #cf9f96;
  border-radius: 2vh;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.addItemsBrock {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-left: -8vh;
}
.addItems {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.addItems_img {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 50vh;
  position: absolute;
  top: 20vh;
  left: 35vh; */
  width: 50vh;
  margin-left: 5%;
  margin-top: 3%;
}
.addItemsBtn {
  position: fixed;
  bottom: 27vh;
}
.modalText {
  margin: 1vh;
  width: 20vh;
}
.modalImg {
  border-radius: 2vh;
  width: 34vh;
  height: 64vh;
}
.modalValue {
  padding: 8px 10px;
  border: 1px solid #d2d2d2;
  border-radius: 2vh;
  background: #f7f7f7;
  color: #333;
  text-align: center;
  margin: 1vh;
  width: 35vh;
}

.modalValue::placeholder {
  color: #999;
}
.valueBrock {
  width: 80%;
}
.modalTextH {
  margin-left: 5vh;
}
.createIcon {
  width: 25vh;
  height: 25vh;
  position: absolute;
  top: 31%;
  left: 10%;
}
.createBtn {
  background-color: #ead7cc;
  cursor: pointer;
  width: 15vh;
  padding: 8px 10px;
  border: solid;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 1vh;
  left: 45%;
  border-width: 3px;
  border-color: #716a67;
  color: #716a67;
}
.createIconBrock {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.repealBtn {
  background-color: #ead7cc;
  cursor: pointer;
  width: 12vh;
  padding: 8px 10px;
  border: solid;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 1vh;
  position: absolute;
  bottom: 20vh;
  left: 60%;
  width: 15vh;
  border-width: 3px;
  border-color: #716a67;
  color: #716a67;
}
.repealBtn:hover,
.createBtn:hover {
  border-color: #ffffff;
  color: #cf9f96;
}
@media (max-width: 376px) {
  /* 600px以下の画面サイズに対するスタイル */
  .modalTextH {
    margin-top: 5vh;
  }
  .modalText {
    /* スタイルのプロパティと値 */
    font-size: 2vh;
  }
  .addItemFrom {
    height: 55vh;
    width: 52vh;
  }
  .addItemsBtn {
    bottom: 30vh;
  }
  .addItemsBrock {
    width: 45vh;
  }
  .modalValue {
    height: 1vh;
  }
}
